.glider-contain {
  width: 1000px;
  margin: 0 auto;
  /* z-index: -1; */

}
.glider > div {
  /* z-index: -1; */
  text-align: center;
}

.content {
  height: 100%;

}

body {
  background-color: white;
}

.horizontal-bar {
  background-color: rgba(0,121,214,255);
  width: 100%;
  height: 50px;
  z-index: 2;
}

/* .diagonal-bar {
  background-color: lightblue;
  width: 100%;
  height: 100px;
  transform: rotate(3deg);
  z-index: 2;
} */

.main-carousel {
  display: flex;
  
}

.main-produtos {
  background-color: rgba(129, 129, 129, 0.096);
  text-align: center;
  height: 1000px;
  margin-top: 70px;
  width: 100%;
  z-index: 2 ;
}

